p{color: red;}
font-weight: 1000;}
body{
background-image:url(https://cdn.pixabay.com/photo/2016/08/09/22/23/flour-1581967_1280.jpg);
background-repeat:no-repeat;
background-attachment:fixed;
background-size:100% 100%;}

div

{
    max-width: 1000px;
}
